$page-padding: 9px;

.with-nav-page {
  overflow: hidden;
  padding: $page-padding 0;
  display: flex;
  flex-direction: column;

  &__body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: $page-padding;
    padding-left: $page-padding;
  }

  .navbar {
    margin-bottom: $page-padding;
  }

  &__links-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 0;
    z-index: 1;
  }

  &__links {
    position: absolute;
    right: 0;
    width: 44px;
    display: inline-flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 0px;
    background: #fff;
    box-shadow: 0 0 10px #e2e5e8, 0 0 5px #e2e5e8;
    border-radius: 50px;
  }
}