
$window-width: 400px;
$window-height: 400px;
$color: #3ecc89;
$shadow: #8ce4a8;

.gm-style {
  div {
    .gm-style-iw-a {
      animation-duration: .3s;
      .gm-style-iw-t {
        .gm-style-iw-c.gm-style-iw {
          animation: fadeIn .3s ease-in-out forwards;
          padding: 0;
          .gm-style-iw-d {
            width: $window-width !important;
            max-width: $window-width !important;
            max-height: $window-height !important;
            pointer-events: none;
            overflow: hidden !important;
            & > div {
              max-height: $window-height;
              width: 100%;
              overflow: auto !important;
              overflow-x: hidden !important;
              pointer-events: all;
              @include modern-scrollbar;
            }
          }
          .gm-style-iw-d + button {
            background: $color !important;
            border-radius: 0 0 0 10px;
            z-index: 9999;
            img {
              display: none !important;
            }
            &::after {
              content: "×";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              padding-top: 7px;
              padding-right: 3px;
              color: #fff;
              font-size: 17px;
            }
          }
        }
      }
    }

    &.focused {
      .gm-style-iw-a {
        .gm-style-iw-t {
          .gm-style-iw-c.gm-style-iw {
            box-shadow: 0 0 5px $color, 0 0 30px -3px $shadow;
          }
        }
      }
    }
  }

  img, video {
    // width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}