

$custom-class: 'FoodStoreMarker';
$window-width: 400px * .8;
$window-height: 400px * .8;
$color: #79ff80;
$shadow: #a7ffba;

// ---

@import "../../../../components/map/marker-with-popup/StyleInjector.scss";

@mixin customStyle {
  // .marker__page__before-title {
  //   color: $color;
  // }
}

@include markerStyle($custom-class, $window-width, $window-height, $color, $shadow);
