
$custom-class: 'strike';
$window-width: 400px * .8;
$window-height: 420px * 1;
$color: #ff6e6e;
$shadow: #ff8b8b;

// ---

@import "../marker-with-info/BaseMarkerStyle.scss";

@mixin customStyle {
  .marker__profile__name {
    color: #ffcb56;
  }
  .marker__profile__description {
    color: #e6a40d;
  }
  .marker__address {
    font-size: 1rem;
    color: #e6a40d;
  }
  .marker__time {
    font-size: 1rem;
    color: #e6a40d;
  }
  .marker__members {
    font-size: 1rem;
    color: #ff912a;
  }
  .marker__cover-photo {
    padding-top: 40%;
  }
  .zoom-tool {
    width: 30%;
  }
}

@include markerStyle($custom-class, $window-width, $window-height, $color, $shadow);
