

$custom-class: 'place';
$window-width: 400px * .8;
$window-height: 400px * .8;
$color: #3ecc89;
$shadow: #8ce4a8;

// ---

@import "../marker-with-popup/StyleInjector.scss";

@mixin customStyle {
}

.marker {
  &__page {
    &__before-title {
      margin: 1em 0 -.95em;
      color: $color;
      font-size: 1.1em;
      font-style: italic;
    }
    &__title {
      z-index: 1;
      font-size: 1.5em;
      font-family: 'icielz-bambola';
      letter-spacing: 2px;
      font-weight: bold;
      text-align: center;
      margin: 1em auto -1em;
      width: calc(100% - 40px);
      position: relative;
      padding: .5em .25em;
      background: $color;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 8px;
      box-shadow: 0 0 5px lighten($color: $color, $amount: .5);
    }
    &__banner {
      border-radius: 8px;
      overflow: hidden;
      @include fixed-ratio-wrapper(5/3);
      & > img {
        @include fixed-ratio;
      }
      width: calc(100% - 20px);
    }
  }
}

@include markerStyle($custom-class, $window-width, $window-height, $color, $shadow);
