.drop-uploader {
  width: 100%;
  height: 100%;

  &__drop-zone {
    width: 100%;
    height: 100%;
    min-height: 175px;
    border: 2px dashed gray;
    background: #f9f9f9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent center center/contain no-repeat;
    opacity: .5;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.avatar {
      background-image: linear-gradient(-23deg, #c5c5c5, transparent);
      background-size: cover;
      border: none;
      border-radius: 50% !important;
      width: 150px;
      height: 150px;
      min-height: unset;
      overflow: hidden;
      padding: 0;
      margin: auto auto 20px;
    }
  }

  &__url-input {
    background: #f9f9f9;
    border: 2px dashed gray;
    opacity: .5;
    transition: opacity .2s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &__drop-zone.avatar+&__url-input {
    width: 300px;
    margin: auto;
  }
}