
$custom-class: 'activist';
$window-width: 400px * .8;
$window-height: 400px * .8;
$color: #00c5ff;
$shadow: #6be8ff;

// ---

@import "../marker-with-info/BaseMarkerStyle.scss";

@mixin customStyle {
  .marker__title {
    color: #00c5ff;
  }
  .zoom-tool {
    width: 30%;
  }
}

@include markerStyle($custom-class, $window-width, $window-height, $color, $shadow);
