
$section-spacing: 40px;

.base-section {
  & ~ & {
    margin-top: $section-spacing;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.1rem;
    white-space: pre;
    text-align: center;
    
    &.beauty-font {
      font-family: icielz-bambola;
      font-size: 1.2rem;
      line-height: 1.3rem;
      letter-spacing: 2px;
    }

    &.big-font {
      font-size: 1.5rem;
      line-height: 1.6rem;
    }

    &.hr {
      &::before, &::after {
        content: "";
        background: #b5b5b5;
        height: 1px;
        display: block;
        flex: 1;
      }
      &::before {
        margin-right: 8px;
      }
      &::after {
        margin-left: 8px;
      }
    }
  }
}