

$custom-class: 'FarmMarker';
$window-width: 400px * .8;
$window-height: 400px * .8;
$color: #3ecc89;
$shadow: #8ce4a8;

// ---

@import "../../../../components/map/marker-with-popup/StyleInjector.scss";

@mixin customStyle {
  .marker__page__before-title {
    color: $color;
  }
}

@include markerStyle($custom-class, $window-width, $window-height, $color, $shadow);
