
$color: $color-orange;
$color-hover: $color-orange-light;
$color-active: darken($color-orange, .5);

.rating {
  position: relative;

  &__toggle {
    cursor: pointer;
    & > i:first-child {
      transition: all .2s ease-in-out;
    }

    &.rated {
      color: $color-orange-lighter;
    }
    &:hover > i:first-child {
      color: $color-hover;
    }
    &.rating > i:first-child {
      transform: scale(-1);
    }
    &:active > i:first-child {
      color: $color-active;
    }
  }

  &__points {
    &__point {
      color: $color-orange-lighter;
      font-weight: bolder;
      &:hover {
        color: $color;
      }
      &.active {
        color: #fff;
        background: $color;
      }
    }
  }

  &__average.btn-link.btn {
    color: $color !important;
  }
  &__star {
    color: $color;
    font-size: .7em !important;
    line-height: .5em;
    vertical-align: middle;
  }
}