
$color: $color-orange;
$color-hover: $color-orange-light;

.rating {
  position: relative;

  &__toggle {
    cursor: pointer;
    &:hover {
      color: $color;
    }
    &.rated {
      color: $color-orange-lighter;
    }
  }

  &__points {
    &__point {
      color: $color-orange-lighter;
      font-weight: bolder;
      &:hover {
        color: $color;
      }
      &.active {
        color: #fff;
        background: $color;
      }
    }
  }

  &__average.btn-link.btn {
    color: $color !important;
  }
  &__star {
    color: $color;
    font-size: .7em !important;
    line-height: .5em;
    vertical-align: middle;
  }
}