@font-face {
  font-family: 'Quicksand';
  font-weight: normal;
  src: url('../assets/fonts/Quicksand/QuicksandboldRegular-44B9.otf');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: bold;
  src: url('../assets/fonts/Quicksand/QuicksandboldRegular-44B9.otf');
}