
$color-inactive: #727272;
$color: $color-blue;
$color-hover: $color-turquoise-dark;

.zoom-tool {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-around;

  &__option {
    cursor: pointer;
    color: $color-inactive;
    font-size: 1rem;
    margin: 2px 4px;

    &:hover {
      color: $color;
    }
    
    &.active, &:active {
      color: $color-hover;
    }
  }
}