.marker {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      filter: brightness(1);
      transform: scale(1);
      transition: filter .3s ease-in-out;
      position: relative;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  &__body {
    margin: 1rem 1rem 1rem;
    // .preview-image {
    //   @include fixed-ratio-wrapper(2 / 3);
    //   & > * {
    //     object-fit: cover;
    //     @include fixed-ratio;
    //   }
    // }
  }

  &__section {
    &__header {
      text-align: center;
    }

    &__body {
      font-size: 1.2em;
    }

    &__summary {
      color: rgb(73, 73, 73);
      border-left: 2px solid lightgray;
      padding-left: .5rem;
    }

    &__actions {
      text-align: right;
      margin-top: .5rem;
    }
  }
}