

.tabs {
  padding: .75em;

  .nav-item {
    position: relative;

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      left: -10px;
      bottom: -7px;
      width: calc(100% + 10px);
      height: 10px;
      background: #fff;
    }

    &:first-child {
      &::after {
        left: 0;
        width: 100%;
        border-radius: 4px;
      }
    }
  }
  
  .nav.nav-tabs {
    margin-bottom: -2px;
    border: none;

    .nav-link {
      border-color: transparent;
      box-shadow: 0px -1px 1px rgba(247, 212, 182, 0);
      color: #c9c9c9;
      border: none;

      &:hover {
        box-shadow: -2px -3px 3px rgba(247, 212, 182, 0.388);
        color: #ffb679;
      }
    }

    .nav-link.active {
      z-index: 1;
      box-shadow: -3px -2px 8px #f7d4b6;
      // border: 2px dashed #ffb679;
      border-radius: 4px 4px 0 0;
      background: #fff;
      border-bottom: none;
      color: #ff9e4b;
    }
  }

  .tab-content {
    box-shadow: -3px -2px 8px #f7d4b6;
    border-radius: 4px;
  }
}