
$color-inactive: #c9c9c9;
$color: $color-orange-light;
$color-hover: $color-orange;
$color-shadow: transparentize(lighten($color: $color-red-light, $amount: 3), 0.6);

.tabs {
  padding: .75em;

  .nav-item {
    position: relative;

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      left: -10px;
      bottom: -7px;
      width: calc(100% + 10px);
      height: 10px;
      background: #fff;
    }

    &:first-child {
      &::after {
        left: 0;
        width: 100%;
        border-radius: 4px;
      }
    }
  }
  
  .nav.nav-tabs {
    margin-bottom: -2px;
    border: none;

    .nav-link {
      border-color: transparent;
      box-shadow: 0px -1px 0px -2px transparentize($color: $color-shadow, $amount: 0);
      color: $color-inactive;
      border: none;

      &:hover {
        box-shadow: -2px -3px 3px -2px transparentize($color: $color-shadow, $amount: 0.4);
        color: $color-hover;
      }
    }

    .nav-link.active {
      z-index: 1;
      box-shadow: -3px -2px 8px $color-shadow;
      border-radius: 4px 4px 0 0;
      background: #fff;
      border-bottom: none;
      color: $color;
    }
  }

  .tab-content {
    box-shadow: -3px -2px 8px $color-shadow;
    border-radius: 4px;
  }
}