

$custom-class: 'ToolStoreMarker';
$window-width: 400px * .8;
$window-height: 400px * .8;
$color: #36abbb;
$shadow: #58b2ce;

// ---

@import "../../../../components/map/marker-with-popup/StyleInjector.scss";

@mixin customStyle {
  .marker__page__title {
    background: $color;
    box-shadow: 0 0 5px lighten($color: $color, $amount: .5);
  }
}

@include markerStyle($custom-class, $window-width, $window-height, $color, $shadow);
