

$custom-class: 'ToolStoreMarker';
$window-width: 400px * .8;
$window-height: 400px * .8;
$color: #4bcddf;
$shadow: #58b2ce;

// ---

@import "../../../../components/map/marker-with-popup/StyleInjector.scss";

@mixin customStyle {
}

@include markerStyle($custom-class, $window-width, $window-height, $color, $shadow);
