
html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#body {
  height: 100%;
  overflow: hidden;
}
#content {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

* {
  &::-webkit-scrollbar {
    background: #E2E5E8;
    width: 4px;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #A1A9B3;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
  &::-webkit-resizer {
    display: none;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}