
$max-window-height: 500px;

.gm-style {
  .gm-style-iw-a {
    animation-duration: .3s;
    .gm-style-iw-t {
      .gm-style-iw-c.gm-style-iw {
        animation: fadeIn .3s ease-in-out forwards;
        padding: 0;
        .gm-style-iw-d {
          pointer-events: none;
          overflow: hidden !important;
          & > div {
            width: 100%;
            max-height: $max-window-height;
            overflow: auto !important;
            pointer-events: all;
            @include modern-scrollbar;
          }
        }
        .gm-style-iw-d + button {
          background: #5f2b56 !important;
          border-radius: 0 0 0 10px;
          img {
            display: none !important;
          }
          &::after {
            content: "×";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding-top: 7px;
            padding-right: 3px;
            color: #fff;
            font-size: 17px;
          }
        }
      }
    }
  }

  img, video {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.marker-info-window {
  z-index: 100 !important;
  &.focused {
    z-index: 10000 !important;
    .gm-style-iw-t {
      .gm-style-iw-c {
        box-shadow: 0 0 5px rgb(82, 6, 82), 0 0 30px -2px #5f2b56;
      }
    }
  }
}