@import '../abstracts/index';
@import './fonts/iCiel-Bambola';
@import './fonts/Quicksand';
@import './fonts/Lobster';
@import './override';
@import './text';
@import './background';
@import './hover';
@import './util';
@import './layout';
@import './position';

html {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.overflow-visible {
  overflow: visible !important;
}

.cursor-pointer {
  cursor: pointer;
}

kbd {
  font-size: 75% !important;
  padding: 2px 4px 1px !important;
}

$link-underline-size: 1px;
$link-underline-color: $color-red-light;

.link {
  display: inline-block;
  background: transparent 0 100%/0 $link-underline-size no-repeat;
  background-image: linear-gradient(90deg, $link-underline-color 0, $link-underline-color);
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background-size: 100% $link-underline-size;
  }

  &:active {
    opacity: .5;
  }
}

.modern-scrollbar {
  @include modern-scrollbar;
}

.modern-scrollbar-2 {
  @include modern-scrollbar-2;
}