
@import '../abstracts/index';
@import './fonts/iciel-bambola';
@import './override';
@import './hover';

img {
  max-width: 100%;
}

.overlapable {
  position: relative;

  .overlap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.text-nowrap {
  white-space: nowrap;
}

.overflow-visible {
  overflow: visible !important;
}

.cursor-pointer {
  cursor: pointer;
}

kbd {
  font-size: 75% !important;
  padding: 2px 4px 1px !important;
}

$link-underline-size: 1px;
$link-underline-color: $color-light-red;
.link {
  background: transparent 0 100%/0 $link-underline-size no-repeat;
  background-image: linear-gradient(90deg, $link-underline-color 0, $link-underline-color);
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background-size: 100% $link-underline-size;
  }
  &:active {
    opacity: .5;
  }
}

.modern-scrollbar {
  &::-webkit-scrollbar {
    background: #E2E5E8;
    width: 4px;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #A1A9B3;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
  &::-webkit-resizer {
    display: none;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}