
@import '../abstracts/index';
@import './fonts/iciel-bambola';
@import './override';
@import './text';
@import './background';
@import './hover';
@import './util';
@import './layout';

img {
  max-width: 100%;
}

.overlapable {
  position: relative;

  .overlap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &.auto-size {
    width: auto;
    height: auto;
    }

    &.bottom {
      top: auto;
      bottom: 0;
    }

    &.right {
      left: auto;
      right: 0;
    }
  }
}

.overflow-visible {
  overflow: visible !important;
}

.cursor-pointer {
  cursor: pointer;
}

kbd {
  font-size: 75% !important;
  padding: 2px 4px 1px !important;
}

$link-underline-size: 1px;
$link-underline-color: $color-red-light;
.link {
  display: inline-block;
  background: transparent 0 100%/0 $link-underline-size no-repeat;
  background-image: linear-gradient(90deg, $link-underline-color 0, $link-underline-color);
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background-size: 100% $link-underline-size;
  }
  &:active {
    opacity: .5;
  }
}

.modern-scrollbar {
  @include modern-scrollbar;
}