

.blend-light-wrapper {
  .blend-light {
    position: relative;
    border-radius: 8px;
    transition: background .3s ease-in-out;
    background: rgba(0, 0, 0, 0.25);

    &::after {
      content: "";
      position: absolute;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
      mix-blend-mode: overlay;
      pointer-events: none;
      transition: background .3s ease-in-out;
    }

    &:hover {
      &::after {
        background-color: rgba(0, 87, 12, 0.1);
      }
    }
  }

  img {
    filter: blur(0px) brightness(1) saturate(1);
    transition: filter .3s ease-in-out;
  }

  &:hover {
    img {
      filter: blur(0px) brightness(1.2) saturate(1.1);
    }
    
    .img {
      filter: blur(3px) brightness(1.5) saturate(1.2);
    }

    .blend-light {
      &::after {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}