

.mt--5 { margin-top: -3rem !important; }
.mt--4 { margin-top: -1.5rem !important; }
.mt--3 { margin-top: -1rem !important; }
.mt--2 { margin-top: -.5rem !important; }
.mt--1 { margin-top: -.25rem !important; }

.h-0 { height: 0; }

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}