.reset-button {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.circle-button {
  border-radius: 50% !important;
  width: 32px;
  height: 32px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  background-color: transparent !important;
}

.light-button {
  color: #f1f1f1 !important;

  &:hover {
    color: #fff !important;
    background: rgba(255, 255, 255, .2) !important;
  }
}


// Form
.md-form>input[type=date]:not(.browser-default)+label {
  transform: translateY(-14px) scale(0.8) !important;
  transform-origin: 0 0;
}


// Modal
.modal {
  // @include modern-scrollbar-2;

  .modal-dialog {

    .modal-content {
      border-radius: 0.5rem !important;
    }

    .modal-header {
      border-radius: inherit;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }
  }
}



// Extend sizing class
$start-div: 1;
$end-div: 13;

@for $i from $start-div to $end-div {
  .w-#{$i} {
    width: (100% / $i) !important;
  }
}

@media (min-width: 576px) {
  @for $i from $start-div to $end-div {
    .w-sm-#{$i} {
      width: (100% / $i) !important;
    }
  }
}

@media (min-width: 768px) {
  @for $i from $start-div to $end-div {
    .w-md-#{$i} {
      width: (100% / $i) !important;
    }
  }
}

@media (min-width: 992px) {
  @for $i from $start-div to $end-div {
    .w-lg-#{$i} {
      width: (100% / $i) !important;
    }
  }
}

@media (min-width: 1200px) {
  @for $i from $start-div to $end-div {
    .w-xl-#{$i} {
      width: (100% / $i) !important;
    }
  }
}