.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlapable {
  position: relative;

  .overlap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &.block {
      line-height: 0;
    }

    &.auto-size {
      width: auto;
      height: auto;
    }

    &.bottom {
      top: auto;
      bottom: 0;
    }

    &.right {
      width: auto;
      left: auto;
      right: 0;
    }
  }
}