.text-light-red {
  color: $color-red-light !important;
}

.text-green {
  color: $color-green !important;
}

.text-orange {
  color: $color-orange !important;
}

.text-golden {
  color: transparent;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(135deg, #eba037 0, #f5ab44 8%, #ffe58a 21%, #e5a750 44%, #e9a84d 68%, #f6e480 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

.text-blue-green {
  color: transparent;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #13c6ce 0, #28f19e);
  -webkit-background-clip: text;
  background-clip: text;
}

.text-dark-blue-green {
  color: transparent;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #037c83 0, #0ca867);
  -webkit-background-clip: text;
  background-clip: text;
}



.text-pre-wrap {
  white-space: pre-wrap !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-middle {
  vertical-align: middle !important;
}

.text-normal {
  text-transform: unset !important;
}

// Deprecated
// .text-inset {
//   text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8), -3px 3px 8px rgba(255, 255, 255, 0.7), 0 0 0 rgba(112, 112, 112, 0.5) !important;
//   background: #ffffff !important;
//   color: transparent !important;
//   -webkit-background-clip: text !important;
//   -moz-background-clip: text !important;
//   background-clip: text !important;
//   transition: all .2s ease-in-out;

//   &:hover, &.active {
//     text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8), -3px 3px 8px rgba(255, 255, 255, 0.7), 0 0 0 rgba(255, 0, 0, 0.5) !important;
//   }
// }

.text-inset {
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8), -3px 3px 8px rgba(255, 255, 255, 0.7), 0 0 0 rgba(255, 124, 124, 0.5);
  background: #ffffff !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  background-clip: text !important;
  transition: all .2s ease-in-out;
  background-image: linear-gradient(-3deg, #ff3f3f 0, #ff00fa) !important;

  &:hover,
  &.active {
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8), -3px 3px 8px rgba(255, 255, 255, 0.7), 0 0 0 rgba(255, 0, 0, 0.938) !important;
  }
}

.text-beauty {
  font-family: Lobster;
  font-size: 1.2rem;
  // line-height: 1.3rem;
  letter-spacing: 2px;
}

@for $i from 1 to 4 {
  .text-#{$i} {
    font-size: $i + 0rem;
  }

  @for $j from 1 to 9 {
    .text-#{$i}.#{$j} {
      font-size: ($i + $j * .1) + 0rem;
    }
  }
}