
.text-light-red {
  color: $color-red-light !important;
}

.text-green {
  color: $color-green !important;
}

.text-orange {
  color: $color-orange !important;
}



.text-pre-wrap {
  white-space: pre-wrap !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-middle {
  vertical-align: middle !important;
}
.text-normal {
  text-transform: unset !important;
}