
.text-light-red {
  color: $color-red-light !important;
}

.text-green {
  color: $color-green !important;
}

.text-orange {
  color: $color-orange !important;
}



.text-pre-wrap {
  white-space: pre-wrap;
}

.text-nowrap {
  white-space: nowrap;
}

.text-middle {
  vertical-align: middle;
}