
.store-eaves {
  width: 392px;
  height: 64px;
}

.store-branding {
  text-align: center;
  background: #735c5d;
  margin: auto;
  padding-top: 4px;
  width: 88%;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 18px;
  font-family: 'icielz-bambola';
  letter-spacing: 2px;
  border-top: 3px solid #928787;
  border-left: 3px solid #928787;
  border-right: 3px solid #928787;
}

.store-body {
  text-align: center;
  width: 392px;
}