
.map-toolbar {
  &.left-toolbar {
    left: 10px;
    top: 100px;

    &.open {
      max-width: 300px;
      max-height: 300px;
    }
  }

  &.left-toolbar &__list {
    &__item {
      display: flex;
      margin-top: 0;
      border-radius: 25px;

      &__icon {
        height: 30px;
        transition: all .3s ease-in-out;
      }

      &__label {
        margin-top: .25rem;
        padding: 4px 10px;
        white-space: nowrap;
      }
    }
  }
  &.left-toolbar.open &__list {
    &__item {
      margin-top: .5rem;
    }
  }
}