
$base-info-window-class: 'custom-info-window';
$custom-info-window-class: "user-info-window";
$window-width: 400px;
$window-height: 450px;

.gm-style {
  .#{$base-info-window-class} {
    .gm-style-iw-a.#{$custom-info-window-class} {
      .gm-style-iw-t {
        .gm-style-iw-c.gm-style-iw {
          width: $window-width !important;
          max-width: $window-width !important;
          max-height: $window-height !important;
          .gm-style-iw-d {
            width: $window-width !important;
            max-width: $window-width !important;
            max-height: $window-height !important;
            & > div {
              max-height: $window-height !important;
            }
            .header {
              .cover-photo {
                background: transparent center center/cover no-repeat;
                width: 100%;
                height: 0;
                padding-top: 35%;
                position: relative;
                img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  opacity: 0;
                }
              }
              .avatar {
                width: 140px;
                margin-top: -70px;
                position: relative;
                left: calc(50% - 70px);
                border-radius: 50%;
                overflow: hidden;
                border: 4px solid #fff;
                img {
                  width: 100%;
                }
              }
            }
            .info {
              .name {
                font-size: 19px;
                font-weight: bold;
                color: #118075;
                text-align: center;
              }
              .status-line {
                text-align: center;
                color: #30c150;
                font-size: 16px;
                margin: 4px;
              }
            }
            .shared-foods {
              text-align: center;
              &__header {
                font-weight: bold;
                font-size: 16px;
                background: #e69a84;
                color: #fff;
                padding: 4px;
              }
              .preview-image {
                @include fixed-ratio-wrapper(100% * 2 / 3);
                & > * {
                  object-fit: cover;
                  @include fixed-ratio;
                }
              }
            }
          }

          .gm-style-iw-d + button {
            background: #00c5ff !important;
          }
        }
      }
    }

    &.focused {
      .gm-style-iw-a.#{$custom-info-window-class} {
        .gm-style-iw-t {
          .gm-style-iw-c.gm-style-iw {
            box-shadow: 0 0 5px #00c5ff, 0 0 30px -3px #6be8ff;
          }
        }
      }
    }
  }
}
          