

$index-size: 25px;
$color: orange;

.map-toolbar {
  &.right-toolbar {
    right: 60px;
    top: 10px;

    &.open {
      max-width: 300px;
      max-height: calc(100% - 34px);
    }
  }

  &.right-toolbar &__list {
    &__item {
      margin-top: .25rem;
      padding: 4px 10px;
      &:hover {
        background: #f0f0f0;
      }

      &__group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__index {
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: orange;
          border: 1px solid #fafafa;
          border-radius: 25px;
          background: #fff;
          cursor: pointer;
          font-size: 12px;
          margin: 4px;

          &:hover {
            color: lighten($color, .1);
            box-shadow: 0 0 5px rgba(116, 116, 116, 0.2);
            font-weight: bold;
          }

          &:active {
            background: #f9f9f9;
          }
        }
      }
    }
  }
}