
$base-info-window-class: 'custom-info-window';
$custom-info-window-class: "action-info-window";
$window-width: 400px * .8;
$window-height: 400px * .8;


$custom-class: 'action';
$window-width: 400px * .8;
$window-height: 400px * .8;
$color: #3ed08d;
$shadow: #8ce4a8;

// ---

@import "../../marker-with-popup/MarkerWithPopup.scss";

@mixin customStyle {
  .marker__title {
    color: #1d7e51;
  }
}

@include markerStyle($custom-class, $window-width, $window-height, $color, $shadow);
