

$color-red: #ff7380;
$color-red-light: #ff7e7e;
$color-orange: #ff9a43;
$color-orange-light: #ffb678;
$color-orange-lighter: #ffc75f;
$color-green: #60ca4e;
$color-green-light: #88dd78;
$color-green-dark: #4ca83c;
$color-turquoise: Turquoise;
$color-turquoise-light: #aaeacf;
$color-turquoise-dark: #149c95;
$color-blue: #36abbb;
$color-purple: #7d7fbe;
$color-purple-light: #aaacea;

// Map colors
$map-blue: #36abbb; // tool-store
$map-green: #3ecc89; // garden/farm

