
.simplest-layout {
  .sidenav {
    min-width: 144px;
    max-width: 144px;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    transition: all .3s ease-in-out;

    &.hide {
      min-width: 0;
      max-width: 0;
      padding: 0;
    }

    .nav-icon-link {
      width: 85%;
      font-size: 1.5em;
    }
  }
}